<h1>Edit Task</h1>

<%= form_with model: [@to_be_updated], url: category_task_path ,local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name ,class:"form-label"%>
    <%= form.text_field :name , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit nil ,class:"btn btn-primary" %>
  </div>
<% end %>

<br />
<%= link_to "Back", category_tasks_path(params[:category_id]) ,class:"btn btn-secondary btn-sm"%>