<h1><%=current_user.categories.find(params[:category_id]).name%> Tasks</h1>

<%= form_with  url: category_tasks_path(params[:category_id],"yes") ,method: :get, local: true do |form| %>
  <div class="mb-3">
    <%= form.text_field :query , class:"form-control", placeholder: "Search Task name here"%>
  </div>

  <div class="actions">
    <%= form.submit "Search Task" ,class:"btn btn-primary" %>
  </div>
<% end %>

<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th>Tasks</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @show_tasks.each do |tasks| %>
      <tr>
        <td><%= tasks.name %></td>
        <td><%= link_to 'Edit', edit_category_task_path(params[:category_id],tasks.id),class:"btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Finished', category_task_path(params[:category_id],tasks.id), method: :delete, data: { confirm: 'Are you done with this task?' } ,class:"btn btn-success btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :root ,class:"btn btn-secondary btn-sm"%>
<%= link_to "Refresh", category_tasks_path(params[:category_id]) ,class:"btn btn-secondary btn-sm"%>
<br />
<br />

<%@form_class = "form-control"%>
<%if notice%>
  <%if flash.notice.include? "blank" or flash.notice.include? "redundant"%>
    <%@form_class = "form-control is-invalid"%>
  <%end%>
<%end%>

<h1>Add Task</h1>
<%= form_with model: [@category,@build_task], url: category_tasks_path(params[:category_id]) ,local: true do |form| %>
  <div class="mb-3">

    <%= form.text_field :name , class:@form_class%>
  </div>

  <div class="actions">
    <%= form.submit nil ,class:"btn btn-primary" %>
  </div>
<% end %>